<div class="banner">
  <div class="container-ban">
    <h1>MTL</h1>
  </div>
</div>

<div>
  <ul class="cards">
    <% @areas.each do |area| %>
    <li class="card-product">
      <img src="<%= cl_image_path area.photo.key %>" />
      <div class="card-product-infos">
        <h2><%= link_to area.name, area %></h2>
        <p><%= area.description %></p>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<div class="container">
  <div id="about" class="card-big">
    <a href="#top"><i class="fa fa-arrow-circle-up"></i></a>
    <h1>Quem Somos Nós</h1>
    <img src="<%= cl_image_path("https://res.cloudinary.com/dn2gpbtwl/image/upload/v1631132368/fzyjqeupdhxuaxjrgrjnwbtcy7e7.png") %>" alt="Profile Picture">
    <h2>MTL</h2>
    <p>descrição...
    <br> + descrição
    <br>últimos comentários</p>
  </div>
</div>

<div class="container">
  <div id="contact" class="card-bottom">
    <div class="card-bottom-header">
      <a href="#top"><i class="fa fa-arrow-circle-up"></i></a>
      <h1>Contact</h1>
    </div>

    <ul class="list-inline">
      <%# <li class="social-icon">
        <a href="https://github.com/itamarlewagon/profile" target="_blank">
        <i class="fab fa-github"></i></a>
      </li> %>
      <li class="social-icon">
        <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-square"></i></a>
      </li>
      <li class="social-icon">
        <a href="https://www.instagram.com/" target="_blank">
        <i class="fab fa-instagram"></i></a>
      </li>
      <li class="social-icon">
        <a href="https://api.whatsapp.com/send?phone=5521993525000&amp;text=Olá MTL, gostaria de falar sobre..." target="_blank">
        <i class="fab fa-whatsapp" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</div>
